.first-sentence {
  font-weight: bold;
  color: red;
}

h1 {
  text-align: center;
}

.paragraph-holder {
  text-align: center;
}

.about-me {
  font-style: italic;
  font-weight: bold;
  font-size: 14;
}
